<!DOCTYPE html>
<html>
  <head>
    <title>Thanks for your feedback</title>
    <link rel="stylesheet" type="text/css" href="css/feedback.css" />
    <script>
      setTimeout(function () {
        window.location.href = "https://www.kscj.ac.in/";
      }, 5000);
    </script>
  </head>
  <body>
    <h1>Thanks for your feedback!</h1>
    <p>We appreciate you taking the time to share your thoughts with us.</p>
  </body>
</html>
